.wrapper {
  min-height: 100vh;
  display: flex;
}

.top {
  align-items: flex-start;
}

.bottom {
  align-items: flex-end;
}

.message {
}

.my-message {
    margin-left: auto;
    margin-right: 20px;
}

.app-container {
  height: 100%;
  width: 75%;
  margin: auto;
}

.messages-container {
  display: flex;
  height: 75%;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 25px;
}

.message-username-container {
  width: 25%;
  margin-right: 10px;
  display: inline-block;
}

.message-text-container {
  width: 50%;
  margin-right: 10px;
  display: inline-block;
}

.message-submit-container {
  width: 25%;
  margin-right: 10px;
  display: inline-block;
}

.message-properties-container {
  width: 100vw;
  max-width: 100%;
  white-space: nowrap;
}

.width-100 {
  width: 100%;
}
